* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 3%;
    cursor: pointer;
}

.container h2{
    padding: 10px;
}

.container #detail{
    padding: 10px;
}

.container #detail img{
   width: 300px;
}
